.text {
  fill: rgb(210, 208, 208);
  stroke: #fff;
}
.textAccent {
  fill: rgb(74, 119, 241);
  stroke: rgb(143, 150, 240);
}
.duga {
  stroke: #fff;
  fill: #fff;
}

.lockFrame {
  stroke: #fff;
  stroke-width: 3px;

  fill: transparent;
}

.cls2 {
  stroke-width: 2px;
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}
.polygons {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}
