$sandColor: #6fa7ec;
$lockColor: #fff;
$textColor: rgb(210, 208, 208);

.text {
  fill: $textColor;
  stroke: $lockColor;
}

.duga {
  stroke: $lockColor;
  fill: $lockColor;
}

.lockFrame {
  stroke: $lockColor;
  stroke-width: 3px;

  fill: transparent;
}

.cls2 {
  stroke-width: 2px;
  fill: none;
  stroke: $lockColor;
  stroke-miterlimit: 10;
}
.polygons {
  fill: none;
  stroke: $lockColor;
  stroke-width: 2px;
}

.sandmass {
  fill: $sandColor;
}

.sand {
  stroke: $sandColor;
}
