.wrapper {
  --star-shadows-mobile: 71.47vw 29.55vh #fff, 19.6vw 8.17vh #fff,
    81.06vw 30.63vh #fff, 22.7vw 68.71vh #fff, 17.8vw 68.16vh #fff,
    21.46vw 13.02vh #fff, 53.53vw 1.15vh #fff, 42.97vw 35.91vh #fff,
    83.09vw 26.9vh #fff, 37.87vw 66.71vh #fff, 76.18vw 94.16vh #fff,
    78.1vw 92.16vh #fff, 31.5vw 4.49vh #fff, 34.34vw 55.87vh #fff,
    81.86vw 89.3vh #fff, 60.7vw 11.05vh #fff, 68.99vw 33.94vh #fff,
    53.46vw 47.99vh #fff, 1.69vw 53.57vh #fff, 67.8vw 26.14vh #fff,
    7.22vw 28.37vh #fff, 82.6vw 34.42vh #fff, 95.91vw 33.36vh #fff,
    69.02vw 10.64vh #fff, 2.24vw 12.49vh #fff, 99.02vw 80.19vh #fff;

  --star-shadows-desktop: 96.21vw 44.16vh #fff, 29.77vw 82.72vh #fff,
    4.33vw 43.47vh #fff, 42.41vw 89.36vh #fff, 66.82vw 2.47vh #fff,
    58.37vw 46.2vh #fff, 41.21vw 98.51vh #fff, 53.97vw 63.05vh #fff,
    84.46vw 34.13vh #fff, 19.12vw 40.51vh #fff, 15.91vw 49.68vh #fff,
    34.35vw 4.86vh #fff, 99.04vw 26.8vh #fff, 64.42vw 76.38vh #fff,
    56.71vw 9.25vh #fff, 37.85vw 31.81vh #fff, 75.95vw 34.19vh #fff,
    76.02vw 94.2vh #fff, 90.32vw 34.36vh #fff, 51.54vw 89.99vh #fff,
    3.44vw 40.13vh #fff, 93.48vw 2.13vh #fff, 30.92vw 68.94vh #fff,
    44.94vw 5.3vh #fff, 37.95vw 98.84vh #fff, 23.12vw 72.51vh #fff,
    77.21vw 37.18vh #fff, 82.95vw 90.1vh #fff, 71.47vw 29.55vh #fff,
    19.6vw 8.17vh #fff, 81.06vw 30.63vh #fff, 22.7vw 68.71vh #fff,
    17.8vw 68.16vh #fff, 21.46vw 13.02vh #fff, 53.53vw 1.15vh #fff,
    42.97vw 35.91vh #fff, 83.09vw 26.9vh #fff, 37.87vw 66.71vh #fff,
    76.18vw 94.16vh #fff, 78.1vw 92.16vh #fff, 31.5vw 4.49vh #fff,
    34.34vw 55.87vh #fff, 81.86vw 89.3vh #fff, 60.7vw 11.05vh #fff,
    68.99vw 33.94vh #fff, 53.46vw 47.99vh #fff, 1.69vw 53.57vh #fff,
    67.8vw 26.14vh #fff, 7.22vw 28.37vh #fff, 82.6vw 34.42vh #fff,
    95.91vw 33.36vh #fff, 69.02vw 10.64vh #fff, 2.24vw 12.49vh #fff,
    99.02vw 80.19vh #fff, 96.21vw 44.16vh #fff, 29.77vw 82.72vh #fff,
    4.33vw 43.47vh #fff, 42.41vw 89.36vh #fff, 66.82vw 2.47vh #fff,
    58.37vw 46.2vh #fff, 41.21vw 98.51vh #fff, 53.97vw 63.05vh #fff,
    84.46vw 34.13vh #fff, 19.12vw 40.51vh #fff, 15.91vw 49.68vh #fff,
    34.35vw 4.86vh #fff, 99.04vw 26.8vh #fff, 64.42vw 76.38vh #fff,
    56.71vw 9.25vh #fff, 37.85vw 31.81vh #fff, 75.95vw 34.19vh #fff,
    76.02vw 94.2vh #fff, 90.32vw 34.36vh #fff, 51.54vw 89.99vh #fff,
    3.44vw 40.13vh #fff, 93.48vw 2.13vh #fff, 30.92vw 68.94vh #fff,
    44.94vw 5.3vh #fff, 37.95vw 98.84vh #fff, 23.12vw 72.51vh #fff,
    77.21vw 37.18vh #fff, 82.95vw 90.1vh #fff, 71.47vw 29.55vh #fff,
    19.6vw 8.17vh #fff, 81.06vw 30.63vh #fff, 22.7vw 68.71vh #fff,
    17.8vw 68.16vh #fff, 21.46vw 13.02vh #fff, 53.53vw 1.15vh #fff,
    42.97vw 35.91vh #fff, 83.09vw 26.9vh #fff, 37.87vw 66.71vh #fff,
    76.18vw 94.16vh #fff, 78.1vw 92.16vh #fff, 31.5vw 4.49vh #fff,
    34.34vw 55.87vh #fff, 81.86vw 89.3vh #fff, 60.7vw 11.05vh #fff,
    68.99vw 33.94vh #fff, 53.46vw 47.99vh #fff, 1.69vw 53.57vh #fff,
    67.8vw 26.14vh #fff, 7.22vw 28.37vh #fff, 82.6vw 34.42vh #fff,
    95.91vw 33.36vh #fff, 69.02vw 10.64vh #fff, 2.24vw 12.49vh #fff,
    99.02vw 80.19vh #fff, 96.21vw 44.16vh #fff, 29.77vw 82.72vh #fff,
    4.33vw 43.47vh #fff, 42.41vw 89.36vh #fff, 66.82vw 2.47vh #fff,
    58.37vw 46.2vh #fff, 41.21vw 98.51vh #fff, 53.97vw 63.05vh #fff,
    84.46vw 34.13vh #fff, 19.12vw 40.51vh #fff, 15.91vw 49.68vh #fff,
    34.35vw 4.86vh #fff, 99.04vw 26.8vh #fff, 64.42vw 76.38vh #fff,
    56.71vw 9.25vh #fff, 37.85vw 31.81vh #fff, 75.95vw 34.19vh #fff,
    76.02vw 94.2vh #fff, 90.32vw 34.36vh #fff, 51.54vw 89.99vh #fff,
    3.44vw 40.13vh #fff, 93.48vw 2.13vh #fff, 30.92vw 68.94vh #fff,
    44.94vw 5.3vh #fff, 37.95vw 98.84vh #fff, 23.12vw 72.51vh #fff,
    77.21vw 37.18vh #fff, 82.95vw 90.1vh #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  --star-shadows: var(--star-shadows-mobile);

  @media screen and (min-width: 600px) {
    --star-shadows: var(--star-shadows-desktop);
  }
}

.starA {
  width: 1px;
  height: 1px;
  background: transparent;
  position: absolute;
  box-shadow: var(--star-shadows);
  animation: animStar 100s linear infinite;
}
.starA:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--star-shadows);
}

// .starA:before {
//   content: " ";
//   position: absolute;
//   top: -200vh;
//   width: 2px;
//   height: 2px;
//   background: transparent;
//   box-shadow: $shadows;
// }

@keyframes animStar {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-100vh);
  }
}
